/* -------------------------------- 

Estilos primarios

-------------------------------- */
html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #e7eaf0;
    color: #2d313f;
    font-size: 100%;
    height: 100%;
}

/* -------------------------------- 

Componentes principales

-------------------------------- */
#map-container {
    background-color: #e7eaf0;
    height: 100%;
    position: relative;
    width: 100%;
}

#baenne-map {
    height: 100%;
    position: relative;
    width: 100%;
}

#baenne-zoom-in, #baenne-zoom-out {
    background-color: rgba(206, 29, 39, 0.9);
    background-image: url("../img/baenne-icon-controller.svg");
    background-repeat: no-repeat;
    background-size: 32px 64px;
    box-shadow: 3px 3px 1px #888888;
    cursor: pointer;
    height: 32px;
    margin-left: 10px;
    width: 32px;
}
.no-touch #baenne-zoom-in:hover, .no-touch #baenne-zoom-out:hover {
    background-color: rgba(206, 29, 39, 0.6);
}
@media only screen and (min-width: 768px) {
    #baenne-zoom-in, #baenne-zoom-out {
        margin-left: 50px;
    }
}

#baenne-zoom-in {
    background-position: 50% 0;
    margin-bottom: 1px;
    margin-top: 10px;
}
@media only screen and (min-width: 768px) {
    #baenne-zoom-in {
        margin-top: 50px;
    }
}

#baenne-zoom-out {
    background-position: 50% -32px;
}
